.feedbacks-section {
    padding: 64px 0;
    /* font-weight: 400; */
    font-size: 18px;
    line-height: 1.5;
    color: #010400;
    background-color: #e8eee5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: flex-start; */
}

.fb-title {
    /* max-width: 343px; */
    font-family: "Chivo", sans-serif;

    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;

    margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
    .fb-title {
        margin-bottom: 24px;
    }
}

@media only screen and (min-width: 1440px) {
    .fb-title {
        font-size: 48px;
    }
}

.fb-section-desc {
    /* max-width: 343px; */
    text-align: center;
    margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
    .fb-section-desc {
        max-width: 644px;
    }
}

.fb-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-grow: 1;
}

@media only screen and (min-width: 768px) {
    .fb-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.fb-list-item {
    display: flex;
    flex-direction: column;
    height: 314px;
    /* width: 343px; */
    padding: 32px;

    border: 1px solid rgba(1, 4, 0, 0.15);
}

@media only screen and (min-width: 768px) {
    .fb-list-item{
        width: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1440px) {
    .fb-list-item {
        width: calc((100% - 3 * 24px) / 4);
    }
}

.list-star {
    display: flex;
    gap: 4px;
    margin-bottom: 24px;
}

.list-star-item {
}

.fb-text {
}

.user {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.user-name {
    margin-left: 16px;
}